@model IEnumerable<GigHubOk.Models.ApplicationUser>

@{
    ViewBag.Title = "Who I'm Following";
}

<h2>Who I'm Following</h2>

<ul class="voffset3">
   @foreach(var follower in Model)
   {
       <li>@follower.Name</li>
   }

</ul>